@model Resume.Models.Entities.EmailConfig

@{
    ViewData["Title"] = "Gmail Ayarları";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@if (TempData["EmailConfig"] != null)
{
    <script>
        alert("@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(TempData["EmailConfig"].ToString()))");
    </script>
}



<div class="d-flex flex-row">
    <!--begin::Content-->
    <div class="flex-row-fluid ml-lg-12">
        <!--begin::Card-->
        <div class="card card-custom">
            <!--begin::Header-->
            <form class="form form-disable" asp-action="@(Model == null ? "Create": "Edit" )" asp-controller="EmailConfig" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @if (Model != null)
                {
                    <input type="hidden" asp-for="Password" value="@Model.Password" />
                }

                <input type="hidden" asp-for="ID" />

                <div class="card-header py-3">
                    <div class="card-title align-items-start flex-column">
                        <h3 class="card-label font-weight-bolder text-dark">Gmail ayarları</h3>
                        <span class="text-muted font-weight-bold font-size-sm mt-1">Mesajların cavablanması üçün</span>
                    </div>
                    <div class="card-toolbar">
                        <input id="submit" data-submit-value="GÖZLƏYİN..." type="submit" value="Dəyişikliyi yadda saxla" class="btn btn-success mr-2">
                        <button type="reset" class="btn btn-primary mr-2">Dəyişikliyi sıfırla</button>
                    </div>
                </div>
                <!--end::Header-->
                <!--begin::Form-->
                <div class="card-body">
                    <!--begin::Alert-->
                    <div class="alert alert-custom alert-light-danger fade show mb-10" role="alert">
                        <div class="alert-icon">
                            <span class="svg-icon svg-icon-3x svg-icon-danger">
                                <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Code/Info-circle.svg-->
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24"></rect>
                                        <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"></circle>
                                        <rect fill="#000000" x="11" y="10" width="2" height="7" rx="1"></rect>
                                        <rect fill="#000000" x="11" y="7" width="2" height="2" rx="1"></rect>
                                    </g>
                                </svg>
                                <!--end::Svg Icon-->
                            </span>
                        </div>
                        <div class="alert-text font-weight-bold">
                            İstifadəçi tərəfindən göndərilmiş mesajlara cavab vermək üçün daxil edilən E-mail hesabınızın tipi mütləq formatda GMAİL olmalıdır. Eyni zamanda daxil edilən gmail hesab ayarlarından <span style="color:black">"Account > Security > Less secure app access > <span><strong>ON</strong></span>"</span> ardıcıllığı icra edilməlidir. Əks halda mesajların sistem üzərindən cavablanması mümkün olmayacaqdır.
                        </div>
                    </div>
                    <!--end::Alert-->
                    @if (Model == null)
                    {
                        <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label text-alert">Gmail hesabı</label>
                            <div class="col-lg-9 col-xl-6">
                                <input type="email" class="form-control form-control-lg form-control-solid mb-2" asp-for="Gmail" placeholder="Gmail hesabı">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label text-alert">Yeni Şifrə</label>
                            <div class="col-lg-9 col-xl-6">
                                <input type="password" class="form-control form-control-lg form-control-solid" asp-for="Password" placeholder="Yeni Parol daxil et">
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label text-alert">Gmail hesabı</label>
                            <div class="col-lg-9 col-xl-6">
                                <input type="email" class="form-control form-control-lg form-control-solid mb-2" asp-for="Gmail" value="@Model.Gmail" placeholder="Gmail hesabı">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label text-alert">Yeni Şifrə</label>
                            <div class="col-lg-9 col-xl-6">
                                <input type="password" class="form-control form-control-lg form-control-solid" name="NewPassword" value="" placeholder="Yeni Parol daxil et">
                            </div>
                        </div>
                    }
                </div>
            </form>
            <!--end::Form-->
        </div>
    </div>
    <!--end::Content-->
</div>

<script>
    $('.form-disable').on('submit', function () {
        var self = $(this),
            button = self.find('input[type=submit],button'),
            submitValue = button.data('submit-value');
        button.attr('disabled', 'disabled').val((submitValue) ? submitValue : 'GÖZLƏYİN...');
    });
</script>