
@{
    Layout = null;
    @inject Microsoft.Extensions.Options.IOptions<GoogleConfigModel> googleConfig
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Khan">
    <meta name="description" content="M. Orxan CV/Resume">
    <meta name="keywords" content="Khan">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/logos/KHAN.jpg">

    <title>Khan | Məmmədəli Orxan</title>

    <!-- GOOGLE FONT -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>


    <!-- MATERIAL ICON FONT -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- FONT AWESOME -->
    <link href="~/stylesheets/vendors/font-awesome.min.css" rel="stylesheet">

    <!-- ANIMATION -->
    <link href="~/stylesheets/vendors/animate.min.css" rel="stylesheet">

    <!-- MAGNIFICENT POPUP -->
    <link href="~/stylesheets/vendors/magnific-popup.css" rel="stylesheet">

    <!-- SWIPER -->
    <link href="~/stylesheets/vendors/swiper.min.css" rel="stylesheet">

    <!-- MATERIALIZE -->
    <link href="~/stylesheets/vendors/materialize.css" rel="stylesheet">

    <!-- BOOTSTRAP -->
    <link href="~/stylesheets/vendors/bootstrap.min.css" rel="stylesheet">

    <!-- CUSTOM STYLE -->
    <link href="~/stylesheets/style.css" id="switch_style" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://use.fontawesome.com/7b0b2c68b4.js"></script>

    <script src="~/Default/lib/jquery/dist/jquery.min.js"></script>
    <script>
        window.addEventListener("pageshow", function (event) {
            var historyTraversal = event.persisted ||
                (typeof window.performance != "undefined" &&
                    window.performance.navigation.type === 2);
            if (historyTraversal) {
                // Handle page restore.
                window.location.reload(true);
            }
        });
    </script>
</head>
<body style="font-family:'Palatino Linotype'">
    @if (TempData["InfoSuccess"] != null)
    {
        <script>
        alert("@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(TempData["MessageSuccess"].ToString()))");
        </script>
    }


    @if (TempData["FrontList"] != null)
    {
        if (!TempData["FrontList"].ToString().Contains("INFO"))
        {
            <!--==========================================
                                 INFO
            ===========================================-->
            @await Component.InvokeAsync("Info")
        }
        if (!TempData["FrontList"].ToString().Contains("EDUCATION"))
        {
            <!--==========================================
                               EDUCATION
            ===========================================-->
            @await Component.InvokeAsync("Education")
        }
        if (!TempData["FrontList"].ToString().Contains("SKILLS"))
        {
            <!--==========================================

            ===========================================-->
            <section id="skills" class="section">
                <div class="container">
                    @await Component.InvokeAsync("Skill")
                </div>
            </section>
        }
        if (!TempData["FrontList"].ToString().Contains("EXPERIENCE"))
        {
            <!--==========================================
                              EXPERIENCE
            ===========================================-->
            @await Component.InvokeAsync("Experience")

        }
        if (!TempData["FrontList"].ToString().Contains("PORTFOLIOS"))
        {
            <!--==========================================
                              PORTFOLIOS
            ===========================================-->
            @await Component.InvokeAsync("Portfolios")

        }
        <!--if (!TempData["FrontList"].ToString().Contains("BLOG"))
        {-->
            <!--==========================================
                                 BLOG
            ===========================================-->
            <!--await Component.InvokeAsync("Blog")

        }-->
        if (!TempData["FrontList"].ToString().Contains("CONTACT"))
        {
            <!--==========================================
                                CONTACT
            ===========================================-->
            @await Component.InvokeAsync("Contact")
        }
    }

    <!--==========================================
                      SCROLL TO TOP
    ===========================================-->
    <div id="scroll-top">
        <div id="scrollup"><i class="fa fa-angle-up"></i></div>
    </div>

    <!--==========================================
                          FOOTER
    ===========================================-->

    <footer>
        <div class="container">
            <p class="text-center">
                Copyright @DateTime.Now.Year © All right reserved. Created and supported by<span style="color:darkblue">Khan</span>
            </p>
        </div>
    </footer>

    <!--==========================================
                      SCRIPTS
    ===========================================-->

    <script src="~/javascript/vendors/jquery-2.1.3.min.js"></script>
    <script src="~/javascript/vendors/bootstrap.min.js"></script>
    <script src="~/javascript/vendors/materialize.min.js"></script>
    <script src="~/javascript/vendors/markerwithlabel.min.js"></script>
    <script src="~/javascript/vendors/retina.min.js"></script>
    <script src="~/javascript/vendors/scrollreveal.min.js"></script>
    <script src="~/javascript/vendors/swiper.jquery.min.js"></script>
    <script src="~/javascript/vendors/jquery.magnific-popup.min.js"></script>
    <script src="~/javascript/custom.js"></script>

    <script src="https://www.google.com/recaptcha/api.js?render=@googleConfig.Value.Key"></script>

    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('@googleConfig.Value.Key', { action: 'Login' }).then(function (token) {
                document.getElementById("captcha").value = token;
            });
        });
    </script>
</body>
</html>