@model Resume.Models.Entities.Contact

@{
    ViewData["Title"] = " - Əlavə Et";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>Contact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" class="form-disable">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NameSurname" class="control-label"></label>
                <input asp-for="NameSurname" class="form-control" />
                <span asp-validation-for="NameSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsertDate" class="control-label"></label>
                <input asp-for="InsertDate" class="form-control" />
                <span asp-validation-for="InsertDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResponseDate" class="control-label"></label>
                <input asp-for="ResponseDate" class="form-control" />
                <span asp-validation-for="ResponseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="submit" data-submit-value="GÖZLƏYİN..." type="submit" value="Əlavə Et" class="btn btn-outline-primary">
            </div>
        </form>
    </div>
</div>

<div>
                <a asp-action="Index" class="btn btn-dark">Geri</a>
</div>

