@model Resume.Models.Entities.PortfolioCategory

@{
    ViewData["Title"] = "Portfel Kateqoriyası - Sil";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<h3>Silinən məlumatlar geri qaytarılmır!</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Kateqoriya
        </dt>
        <dd class="col-sm-10">
            @Model.Category
        </dd>
        <dt class="col-sm-2">
            Açıqlama
        </dt>
        <dd class="col-sm-10">
            @Model.Description
        </dd>
    </dl>


    <form asp-action="Delete" class="form-disable">
        <input type="hidden" asp-for="ID" value="@Model.ID"/>
        <input id="submit" data-submit-value="GÖZLƏYİN..." type="submit" value="Sil" class="btn btn-outline-primary"> |
        <a asp-action="Index" class="btn btn-dark">Geri</a>
    </form>
</div>

<script>
    $('.form-disable').on('submit', function () {
        var self = $(this),
            button = self.find('input[type=submit],button'),
            submitValue = button.data('submit-value');
        button.attr('disabled', 'disabled').val((submitValue) ? submitValue : 'GÖZLƏYİN...');
    });
</script>