@model Resume.Models.Entities.Education

@{
    ViewData["Title"] = "Təhsil - Əlavə Et";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<h4>Təhsil - Əlavə Et</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" class="form-disable">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Təhsil Mərkəzi</label>
                <input asp-for="EducationCenter" class="form-control" />
                <span asp-validation-for="EducationCenter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Başlama</label>
                <input asp-for="StartDate" class="form-control" type="date" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Bitirmə</label>
                <input asp-for="EndDate" class="form-control" type="date" />
                <label class="checkbox border border-3" style="color:red">
                    <input type="checkbox" class="form-control" asp-for="Present">
                    <span></span>Dəvam edir.
                </label>
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tarix Formatı</label>
                <div class="row">
                    <label class="checkbox col-md-4" style="color:red">
                        <input type="checkbox" class="form-control" asp-for="ShowDay" checked>
                        <span></span>Günü göstər
                    </label>
                    <label class="checkbox col-md-4" style="color:red">
                        <input type="checkbox" class="form-control" asp-for="ShowMonth" checked>
                        <span></span>Ayı göstər
                    </label>
                    <label class="checkbox col-md-4" style="color:red">
                        <input type="checkbox" class="form-control" asp-for="ShowYear" checked>
                        <span></span>İli göstər
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Fakültə</label>
                <input asp-for="Faculty" class="form-control" />
                <span asp-validation-for="Faculty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">İxtisas</label>
                <input asp-for="Specialty" class="form-control" />
                <span asp-validation-for="Specialty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Qısa Açıqlama</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="submit" data-submit-value="GÖZLƏYİN..." type="submit" value="Əlavə Et" class="btn btn-outline-primary">
                <a asp-action="Index" class="btn btn-dark">Geri</a>
            </div>
        </form>
    </div>
</div>

<script>
    $('.form-disable').on('submit', function () {
        var self = $(this),
            button = self.find('input[type=submit],button'),
            submitValue = button.data('submit-value');
        button.attr('disabled', 'disabled').val((submitValue) ? submitValue : 'GÖZLƏYİN...');
    });
</script>