@model Resume.Models.Entities.Experience

@{
    ViewData["Title"] = "Təcrübə - Düzəliş Et";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h4>Təcrübə - Düzəliş Et</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" class="form-disable">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label class="control-label">Müəssisə</label>
                <input asp-for="Company" class="form-control" />
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Başlama</label>
                <input type="date" asp-for="StartDate" class="form-control" value="@Model.StartDate.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Bitirmə</label>
                <input type="date" asp-for="EndDate" class="form-control" value="@Model.EndDate.ToString("yyyy-MM-dd")" />
                <label class="checkbox border border-3" style="color:red">
                    <input type="checkbox" class="form-control" asp-for="Present">
                    <span></span>Dəvam edir.
                </label>
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tarix Formatı</label>
                <div class="row">
                    <label class="checkbox col-md-4" style="color:red">
                        <input type="checkbox" class="form-control" asp-for="ShowDay">
                        <span></span>Günü göstər
                    </label>
                    <label class="checkbox col-md-4" style="color:red">
                        <input type="checkbox" class="form-control" asp-for="ShowMonth">
                        <span></span>Ayı göstər
                    </label>
                    <label class="checkbox col-md-4" style="color:red">
                        <input type="checkbox" class="form-control" asp-for="ShowYear">
                        <span></span>İli göstər
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Mövqey</label>
                <input asp-for="Position" class="form-control" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Açıqlama</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="submit" data-submit-value="GÖZLƏYİN..." type="submit" value="Yadda Saxla" class="btn btn-outline-primary">
                <a asp-action="Index" class="btn btn-dark">Geri</a>
            </div>
        </form>
    </div>
</div>


<script>
    $('.form-disable').on('submit', function () {
        var self = $(this),
            button = self.find('input[type=submit],button'),
            submitValue = button.data('submit-value');
        button.attr('disabled', 'disabled').val((submitValue) ? submitValue : 'GÖZLƏYİN...');
    });
</script>