@model IEnumerable<Resume.Models.Entities.User>

@{
    ViewData["Title"] = "Sistem";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int say = 1;
}


<p>
    <a asp-action="Index" asp-controller="ControllerName" class="btn btn-outline-dark">Controller-lər</a>
</p>
<div class="flex-row-fluid ml-lg-12">
    <div class="card card-custom">
        <div class="row col-md-12 col-lg-12 col-sm-12">
            @foreach (var item in Model.Distinct())
            {
                <div class="col-md-4">
                    <div class="row border" style="padding-top:2px">
                        <div class="col-md-11">
                            <p><span><strong>@(say++)</strong></span>. @item.Email</p>
                        </div>

                        <div class="col-md-1"><a asp-action="Edit" asp-route-id="@IDAncryption.Encrypt(item.ID.ToString())" title="Düzəliş et"><i class="fas fa-edit test" style="color:green"></i></a> </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div> 