@model IEnumerable<Resume.Models.Entities.Sosial>
    <script src="https://use.fontawesome.com/7b0b2c68b4.js"></script>

    <div style="font-size:2.3rem">
        @foreach (var item in Model)
        {
            <a href="@item.PageURL">
                @Html.Raw(item.Icon)
            </a>
        }
    </div>