@model IEnumerable<Resume.Models.Entities.Sosial>

    <div class="links">
        @foreach (var item in Model)
        {
            <i class="fab fa-facebook"></i>
            <a href="@item.PageURL" class="social">
                <i class="@item.Icon"></i>
            </a>
        }
    </div>