@model IEnumerable<Resume.Models.Entities.BlogCategory>

@{
    ViewData["Title"] = "Blog Kateqoriya";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<p>
    <a asp-action="Create" class="btn btn-outline-success">Əlavə Et</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Keteqoriya
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Category
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID" class="text-success" title="Düzəliş et"><i class="fas fa-edit"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.ID" class="text-danger" title="Sil"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
