@model Resume.Models.Entities.Portfolio

@{
    ViewData["Title"] = "Portfel - Düzəliş Et";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h4>Portfel - Düzəliş Et</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" class="form-disable">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label class="control-label">Başlıq</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Açıqlama</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Daxil edilmə Vaxtı</label>
                <input type="date"  asp-for="InsertDate" class="form-control" />
                <span asp-validation-for="InsertDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Bitmə Vaxtı</label>
                <input type="date" asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Müştəri</label>
                <input asp-for="Client" class="form-control" />
                <span asp-validation-for="Client" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SiteURL" class="control-label"></label>
                <input asp-for="SiteURL" class="form-control" />
                <span asp-validation-for="SiteURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tip</label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FotoURL" class="control-label"></label>
                <textarea asp-for="FotoURL" class="form-control" ></textarea>
                <span asp-validation-for="FotoURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">
                    Youtube Iframe
                </label>
                <textarea asp-for="VideoURL" class="form-control" ></textarea>
                <span asp-validation-for="VideoURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">
                    Kateqoriya
                </label>
                <select asp-for="PortfolioCategoryID" class="form-control" asp-items="ViewBag.PortfolioCategoryID"></select>
            </div>
            <div class="form-group">
                <input id="submit" data-submit-value="GÖZLƏYİN..." type="submit" value="Əlavə Et" class="btn btn-outline-primary">
                <a asp-action="Index" class="btn btn-dark">Geri</a>
            </div>
        </form>
    </div>
</div>

<script>
    $('.form-disable').on('submit', function () {
        var self = $(this),
            button = self.find('input[type=submit],button'),
            submitValue = button.data('submit-value');
        button.attr('disabled', 'disabled').val((submitValue) ? submitValue : 'GÖZLƏYİN...');
    });
</script>
