@model IEnumerable<Resume.Models.Entities.Skill>
<!-- SECTION TITLE -->
@{
    Layout = null;
}
<div class="section-title">
    <h4 class="text-uppercase text-center"><img src="~/images/icons/mixer.png" alt="demo">Bilik və Bacarıqlar (Skills)</h4>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div id="skills-card" class="card">
            <div class="card-content">
                <div class="row">
                    @foreach (var category in Model.Select(x => x.SkillCategory).Distinct())
                    {
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <!-- FIRST SKILL SECTION -->
                            <div class="skills-title">
                                <h6 class="text-center">@category.Category</h6>
                            </div>
                            @foreach (var item in Model.Where(x => x.SkillCategoryID == category.ID))
                            {
                                <div class="skillbar" data-percent="@item.Percent%">
                                    <div class="skillbar-title"><span>@item.Name</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">@item.Percent%</div>
                                </div>
                            }
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>