@model Resume.Models.Entities.User

@{
    ViewData["Title"] = "Yeni İstifadəçi";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni İstifadəçi</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" class="form-disable">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">E-mail</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Parol</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Təkrar Parol</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                </label>
            </div>
            <div class="form-group">
                <input id="submit" data-submit-value="GÖZLƏYİN..." type="submit" value="Əlavə Et" class="btn btn-outline-primary">
                <a asp-action="Index" class="btn btn-dark">Geri</a>
            </div>
        </form>
    </div>
</div>

<script>
    $('.form-disable').on('submit', function () {
        var self = $(this),
            button = self.find('input[type=submit],button'),
            submitValue = button.data('submit-value');
        button.attr('disabled', 'disabled').val((submitValue) ? submitValue : 'GÖZLƏYİN...');
    });
</script>